<div class="main">
  <div class="container">
    <div>
      <div class="row">
        <div class="col-4">
          <label for="customer">Customer</label>
          <ng-select
            name="customer"
            class="form-control"
            [items]="customers"
            [(ngModel)]="model.customer"
            (ngModelChange)="change()"
            required
          >
          </ng-select>
        </div>
        <div class="col-4">
          <label for="vehicleNumber">Vehicle Number</label>
          <ng-select
            name="vehicleNumber"
            class="form-control"
            [items]="customers"
            [(ngModel)]="model.vehicleNumber"
            (ngModelChange)="change()"
            required
          >
          </ng-select>
        </div>
        <div class="col-4">
          <label for="amount">Amount</label>
          <input
            class="form-control"
            [(ngModel)]="model.amount"
            (ngModelChange)="change()"
            type="number"
            id="amount"
          />
        </div>
        <div class="col-4">
          <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
          </mat-card>
          <p>Selected date: {{selected}}</p>
        </div>
        <!-- <div class="col-4">
          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl"
               [min]="minDate" [max]="maxDate" [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
               [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
               [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian"
               [disableMinute]="disableMinute" [hideTime]="hideTime">
            </ngx-mat-datetime-picker>

         </mat-form-field>
        </div> -->
      </div>
    </div>
  </div>
</div>
