<div class="main">
  <div class="container">
    <div>
      <div class="row">
        <div class="col-4">
          <label for="customer">Customer</label>
          <ng-select
            name="customer"
            class="form-control"
            [items]="customers"
            [(ngModel)]="model.customer"
            (ngModelChange)="change()"
            required
          >
          </ng-select>
        </div>
        <div class="col-4">
          <label for="vehicleNumber">Vehicle Number</label>
          <ng-select
            name="vehicleNumber"
            class="form-control"
            [items]="customers"
            [(ngModel)]="model.vehicleNumber"
            (ngModelChange)="change()"
            required
          >
          </ng-select>
        </div>
        <div class="col-4">
          <label for="amount">Amount</label>
          <input
            class="form-control"
            [(ngModel)]="model.amount"
            (ngModelChange)="change()"
            type="number"
            id="amount"
          />
        </div>
      </div>
    </div>
  </div>
</div>
