<div class="container">
  <div class="fab">
    <!-- <h1>Water Supply Entry</h1> -->
    <a class="btn btn-primary" [routerLink]="['/supplyentry']">
      <i class="fa fa-plus" aria-hidden="true"></i> Water Supply Entry
    </a>
  </div>
  <div class="fab">
    <!-- <h1>Vehicle Entry</h1> -->
    <a class="btn btn-primary" [routerLink]="['/vehicles']">
      <i class="fa fa-plus" aria-hidden="true"></i> Vehicle Entry
    </a>
  </div>
  <div class="fab">
    <!-- <h1>Customers Entry</h1> -->
    <a class="btn btn-primary" [routerLink]="['/customer']">
      <i class="fa fa-plus" aria-hidden="true"></i> Customers Entry
    </a>
  </div>
</div>
